.App {
  @include column-flex(start);
  width: 100vw;
  height: 100vh;

  .ModalButton,
  .Tab,
  .Toggle,
  .Tag,
  .Autocomplete {
    @include column-flex(start, start);
    width: 100%;
    height: auto;
    padding-bottom: $component-spacing;

    .title {
      @include text-style(title, $black);
      padding: $component-title-spacing;
    }
  }

  .Autocomplete {
    z-index: $autocomplete-dimension;
  }
}
