.App {
  @include column-flex(start);
  width: 100vw;
  height: 100vh;

  .ModalButton,
  .Tab,
  .Toggle,
  .Tag,
  .Autocomplete,
  .ClickToEdit {
    @include column-flex(start, start);
    width: 100%;
    min-height: $component-spacing * 4;

    .title {
      @include text-style(title, $black);
      padding: $component-title-spacing;
    }
  }

  .ModalButton,
  .Tab,
  .Toggle,
  .Tag,
  .ClickToEdit {
    margin-bottom: $component-spacing;
  }

  .Autocomplete {
    z-index: $autocomplete-dimension;
  }
}
