.modal {
  &-background {
    @include flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.2);
  }

  &-wrapper {
    @include column-flex;
    padding: ($component-title-padding / 2) ($component-title-padding * 2)
      $component-title-padding;
    border-radius: 10px;
    background-color: $white;

    .close-btn {
      @include text-style(24, $black);
      font-weight: 700;
      padding: 12px;
    }

    .title {
      color: $purple;
      text-transform: uppercase;
    }
  }
}
