.modal-button {
  @include flex;
  padding: 36px;
  border-radius: 50px;
  color: $white;
  background-color: $purple;

  &-title {
    @include text-style(title, $black);
    padding: $component-title-padding;
  }

  &-wrapper {
    @include flex;
    width: 100vw;
    height: 20vw;
  }
}
