$font-main: 'DM Sans', sans-serif;

$font-size-title: 18px;
$font-weight-title: 700;
$line-height-title: 28px;
$letter-spacing-title: normal;

$font-size-base: 18px;
$font-weight-base: 400;
$line-height-base: 27px;
$letter-spacing-base: normal;
