$font-main: 'DM Sans', sans-serif;

$font-size-title: 18px;
$font-weight-title: 700;
$line-height-title: 28px;
$letter-spacing-title: normal;

$font-size-base: 18px;
$font-weight-base: 400;
$line-height-base: 27px;
$letter-spacing-base: normal;

$font-size-16: 16px;
$font-weight-16: 400;
$line-height-16: 24px;
$letter-spacing-16: normal;

$font-size-24: 24px;
$font-weight-24: 400;
$line-height-24: 36px;
$letter-spacing-24: normal;

$font-size-36: 36px;
$font-weight-36: 400;
$line-height-36: 54px;
$letter-spacing-36: normal;
